@model Appointment
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DatabaseOperations</title>
</head>
<body>
  <h2>Database operations successful</h2>

    <table>
        <tr><th>Appointment time</th></tr>
        <tr><th>@Model.time</th></tr>
    </table>
</body>
</html>
