@model Appointment

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LINQOperations</title>
</head>
<body>
    <h2>LINQ operations successful</h2>
    Appointment ID: @Model.apptID <br />
    Appointment Date: @Model.date <br />
    Appointment Time: @Model.time
</body>
</html>
